<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <!--引入jQuery-->
    <script src="../jquery-3.4.1/jquery-3.4.1.js"></script>
    <!--引入bootStrap-->
    <link rel="stylesheet" type="text/css" href="../bootstrap-4.3.1-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap-4.3.1-dist/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap-4.3.1-dist/css/bootstrap-reboot.css">
    <script src="../bootstrap-4.3.1-dist/js/bootstrap.bundle.js"></script>
    <script src="../bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    <!--引入vue-->
    <script src="../vue-2.6.10/vue.min.js"></script>
    <!--引入vue-resource 网络请求-->
    <script src="../vue-resource-1.5.1/vue-resource.js"></script>
    <!--引入axios 网络请求-->
    <script src="../axios/axios.min.js"></script>
</head>
<body>

</body>
</html>