<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>部门管理</title>
    <!--引入jQuery-->
    <script src="./jquery-3.4.1/jquery-3.4.1.js"></script>
    <!--引入bootStrap-->
    <link rel="stylesheet" type="text/css" href="./bootstrap-4.3.1-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./bootstrap-4.3.1-dist/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="./bootstrap-4.3.1-dist/css/bootstrap-reboot.css">
    <script src="./bootstrap-4.3.1-dist/js/bootstrap.bundle.js"></script>
    <script src="./bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    <!--引入vue-->
    <script src="./vue-2.6.10/vue.min.js"></script>
    <!--引入vue-resource 网络请求-->
    <script src="./vue-resource-1.5.1/vue-resource.js"></script>
    <style>
    </style>

</head>
<body>
<div class="container" id="app">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">主页</a></li>
            <li class="breadcrumb-item active" aria-current="page" @click="findDeptList()">部门管理</li>
        </ol>
    </nav>
    <div style="margin-bottom: 6px;">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">添加</button>
    </div>
    <form>
        <div class="form-group">
            部门名字：<input type="text" name="name" v-model="dept.name">
            <button type="submit" @click="findDeptList(dept)" class="btn btn-primary btn-sm">搜索</button>
        </div>
    </form>
    <!--弹出框-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">添加部门</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
<!--                        <div class="form-group">-->
<!--                            ID：<input type="text" class="form-control" name="id" v-model="dept.id">-->
<!--                        </div>-->
                        <input type="text" class="form-control" name="id" v-model="dept.id" hidden="true">
                        <div class="form-group">
                            父节点ID：<input type="text" class="form-control" name="parentId" v-model="dept.parentId">
                        </div>
                        <div class="form-group">
                            部门名字：<input type="text" class="form-control" name="name" v-model="dept.name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                    <button type="submit" @click="if(dept.id == undefined){addDept(dept)}else{updateDept(dept)}" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">序号</th>
            <th scope="col">部门ID</th>
            <th scope="col">部门父ID</th>
            <th scope="col">部门名称</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(dept,index) in deptList">
            <th scope="row">{{index+1}}</th>
            <td>{{dept.id}}</td>
            <td>{{dept.parentId}}</td>
            <td>{{dept.name}}</td>
            <td>
                <button type="button" class="btn btn-warning btn-sm" @click="getDeptById(dept.id)">修改</button>
                <button type="button" class="btn btn-danger btn-sm"
                        @click="if(confirm('确认删除该部门吗？')==false){return false;}else{delDept(dept.id)}">删除
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<script>
    $(document).ready(function () {
        new Vue({
            el: '#app',
            data: {
                deptList: [],
                dept: {
                }
            },
            created() { //当vm实例的data和methods 初始化完毕后，vm实例会自动执行这个方法
                 this.findDeptList('');
            },

            methods: {
                findDeptList: function (dept) {
                    //发送post请求
                    this.$http.post('./findDeptList',{'name':dept.name},{ emulateJSON: true }).then(function (res) {
                        this.deptList = res.data.data;
                    }, function (res) {
                        alert("获取部门列表数据失败");
                    });
                },
                delDept: function (id) {
                    //发送DELETE请求
                    this.$http.delete('./delDept?id=' + id).then(function (res) {
                        this.findDeptList('');
                    }, function (res) {
                        alert("删除部门数据失败");
                    });
                },
                getDeptById: function (id) {
                    //发送get请求
                    this.$http.get('./getDeptById?id=' + id).then(function (res) {
                        this.dept = res.data.data
                        $('#exampleModal').modal('show');
                    }, function (res) {
                        alert("删除部门数据失败");
                    });
                },
                addDept: function (dept) {
                    //发送POST请求
                    this.$http.post('./addDept',{'parentId':dept.parentId,'name':dept.name},{ emulateJSON: true }).then(function (res) {
                        $('#exampleModal').modal('hide');
                        this.dept = {};
                        this.findDeptList('');
                    }, function (res) {
                        alert("添加部门数据失败");
                    });
                },
                updateDept: function (dept) {
                    //发送put请求
                    this.$http.put('./updateDept',{'id':dept.id,'parentId':dept.parentId,'name':dept.name},{ emulateJSON: true }).then(function (res) {
                        $('#exampleModal').modal('hide');
                        this.dept={};
                        this.findDeptList('');
                    }, function (res) {
                        alert("更新部门数据失败");
                    });
                }
            }
        });
    })


</script>
</body>
</html>